<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgom.transport.dao.MddGcDataSendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgom.transport.model.MddGcDataSend">
        <id column="id" property="id" />
        <result column="objId" property="objId" />
        <result column="dataTime" property="dataTime" />
        <result column="kindId" property="kindId" />
        <result column="kindName" property="kindName" />
        <result column="objName" property="objName" />
        <result column="dataValue" property="dataValue" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, objId, dataTime, kindId, kindName, objName, dataValue
    </sql>

</mapper>
